html{
	
	background-color:#336699

;

}


h1{
	margin-bottom:100px;
	background-color:lightgray;
	
}

h1 img{
	margin-top: -10px;
	float: left;
	margin-left:12px;
}
.p1{
	background-color:white;
	color:white;
	border-style:solid;
	border-radius:15%;
	width:380px;
	height:150px;
	float:right;
	padding:5px;
	margin-left: 20px;
	margin-top:-90px;
	
	
}
.p2{
	background-color:white;
	color:white;
	border-style:solid;
	border-radius:15%;
	width:380px;
	height:150px;
	float:right;
	padding:5px;
	margin-left: 20px;
	margin-top:5px
	
	
}

.p3{
	background-color:white;
	color:white;
	border-style:solid;
	border-radius:15%;
	width:380px;
	height:130px;
	float:right;
	padding:5px;
	margin-left: 20px;
	margin-top:10px
	
	
}

